<!DOCTYPE html>
<html>
<head>
  <title>Interfaith</title>
  <%= stylesheet_link_tag :all %>
  <%= include_javascripts :interfaith %>
  <%= csrf_meta_tag %>
<script>
Pos.reset(<%= @pos.to_json %>);
</script>
<% if current_user %>
<script>
interfaith = {"user_id": <%= current_user.id %>, "email": "<%= current_user.email %>", "roles": "<%= current_user.roles[0].name %>"};
</script>  
<% end %>

</head>
<body>
  <div id="app">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if !current_user %>
    <div id="sign_in_over">
      <div id="sign_in_form" class="cf">
        <div class="cf" style="height:25%"></div>
        <div class="cf">
          <h1>Interfaith PO System</h1>
          <p>Welcome to Interfaith's PO system. Please sign in to continue.</p>
          <input id="signinemail" type="text" placeholder="Email Address" autocomplete="off" />
          <br/>
          <input id="signinpw" type="password" placeholder="Password" autocomplete="off"/>
          <br/>
          <div class="remember_me">
          <span>Remember me</span>
          <input type="checkbox" name="remember_me" />
          </div>
        </div>
          <div id="signinlogin" class="button blue">Sign In</div>
      </div>
      </div>
    <% end %>
    <div id="top" class="cf">
      <div class="top-header">
        <h4><a href="#">Interfaith</a></h4>
        <ul>
          <% if user_signed_in? %>
            <li>Signed in as <%= current_user.email %>. Not you?</li>
            <li id="signout">Sign Out</li>
          <% else %>
            <li id="sign_up">Sign Up</li><li id="sign_in">Sign In</li>
          <% end %>
        </ul>

      </div>
      <% if user_signed_in? %>
      <div class="nav">
        <ul>
        <li id="po-click"><a href="/#po">POs</a></li>
        <li><a href="/#vendor">Vendors</a></li>
        </ul>
        <ul class="header-right"></ul>
      </div>
      <% end %>
    </div>
    <div id="middle" class="cf" <% if !user_signed_in? %> style="top:28px; border-top: 1px solid #999;" <% end %>>
      <div class="left">
        <h5 class="side-header">Accounting</h5>
        <ul id="sidebar-list">
        <li><a href="/#po">POs</a></li>
        <li><a href="/#vendor">Vendors</a></li>
        </ul>
      </div>
      <div class="right">
          <div id="sub-right">
          <div id="welcome">
            <p>I'm sure some information will go here</p>
            <p>Photos, maybe a video? I don't know if we'll have enough time</p>
          </div>
          <div id="vendor">
            <ul id="resource-list"></ul>
          </div>
          <div id="po">
            <ul id="resource-list"></ul>
          </div>
        </div>
      
      </div>
    </div>
    <div id="bottom"></div>
  </div>
</body>
</html>
