<!DOCTYPE html>
<html>
<head>
  <title>Interfaith</title>
  <%= stylesheet_link_tag :all %>
  <%= include_javascripts :interfaith %>
  <%= csrf_meta_tag %>
<% if current_user %>
<script>
var interfaith = {"user_id": <%= current_user.id %>};
</script>  
<% end %>

</head>
<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div id="user_nav">
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you?
    <%= link_to "Sign out", destroy_user_session_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>
<%= yield %>
</body>
</html>
